h1 {
    font-family: 'Creepster', sans-serif;
    margin: 0;
}

h1 a {
    cursor: pointer;
    color: #fcf4d9;
    text-decoration: none;
}

header {
    text-align: center;
    display: flex;
}

body {
    background-image: url(https://png.pngtree.com/background/20230608/original/pngtree-in-the-style-of-creepypasta-picture-image_2903936.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

/* sidebar menu*/
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    background-color: transparent; /* transparent */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-top: 20px;
}

/*The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #fcf4d9;
    display: block;
    font-family: 'Creepster', sans-serif;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: aliceblue;
}

.transbox {
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 50px auto;
    padding: 20px;
    color: white;
    font-family: 'Creepster' sans-serif;
    text-align: center;
    font-size: large;
}

footer {
    background-color: transparent; /* Background color of the footer */
    color: #fff; /* Text color */
    padding: 20px; /* Padding around the content */
    text-align: center; /* Center align the content */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: medium;
}

.social-media {
    margin-top: 10px; /* Spacing between social media links */
}

.social-media a {
    color: #fff; /* Link color */
    text-decoration: none; /* Remove underline */
    margin: 0 10px; /* Spacing between links */
    font-size: 40px; /* Adjust icon size */
}

.social-media a:hover {
    text-decoration: underline; /* Underline on hover */
}
